.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

section .catalog__title {
    text-align: center;
}

section .catalog__body {
    display: flex;
    justify-content: center;
    gap: 40px;
}

section .catalog__body .catalog__body__items{
    text-align: center;
    border: 2px solid #000000;
    padding: 40px;
}

section .catalog__body .catalog__body__items:hover{
    background: #bdbdbd;
}

section .catalog__body .catalog__body__items:active{
    background: #7a7979;
}

section .catalog__body__item {
    text-align: center;
    border: 2px solid #000000;
    padding: 40px;
}